@import '../styles/variables';
@import '../styles/fonts';



.card {
  width: 736px;
  background-color: $color-background-main;
  margin: 20px auto;

  &__main{
    display: flex;
    text-align: start;
  }

  &__info{
    margin-right: $indent-m;
  }

  &__date{
    font-family: $font-family-subline;
      font-style: normal;
      font-weight: 400;
      font-size: $font-size-subline-1;
      line-height: $indent-s;
      margin-bottom: $indent-xxs;
      color: $color-background-primary;
  }
  
  &__title{
    font-family: $font-family-headline;
      font-style: normal;
      font-weight: 700;
      font-size: $font-size-headline-2-desktop;
      line-height: 44px;
      color: $color-secondary;
      & h3 {
          display: flex;
          margin-top: 0;
          margin-bottom: $indent-s;
        }
  }

  &__description{
    font-family: $font-family-body;
      font-size: $font-size-body-1;
      font-weight: 400;
      line-height: 28px;
      color: $color-background-primary;
  }

  &__footer{
    display: flex;
    justify-content: space-between;
  }

  &__like{
    display: flex;
    .btn-like {
        margin-left: 0;
        & svg{
          padding-left: 0;
        }
      }
            .btn-dislike {
              margin-left: 0;
      
              & svg {
                padding-left: 0;
              }
            }
  }

  &__edit {
    display: flex;
    .btn-mark {
        margin-right: 30px;
      }
  }

    &:hover {
      .card__title {
        color: $color-primary;
      }
      cursor: pointer;
    }
}

.card__line {
  border-bottom: 2px solid $color-background-primary2;
  margin: 41px 0 20px 0;

}


.btn-card {
  background-color: transparent;
  color: black;
  transition: 0.4s;
  cursor: pointer;
}