@import '../styles/variables';
@import '../styles/fonts';

.btn {
    font-family: InterSemiBold, sans-serif;
    font-size: $font-size-headline-3-desktop;
    border-radius: 2px;
    text-align: center;
    border: none;
    transition: 0.4s;
    display: flex;
    align-items: center;
        &:disabled {
                background-color: $color-light;
                color: $color-background-primary;
                opacity: 0.5;
            }
}

.button-primary {
    padding: 16px 32px;
    color: $color-white;
    background: $color-primary;
    &:not([disabled]):hover{
        background: $color-primary2;
    }
}

.button-secondary{
    padding: 16px 32px;
    background: $color-background-primary;
    color: $color-secondary;
    &:not([disabled]):hover {
        background: $color-light;
    }
}

.button-secondary2 {
    padding: 16px 32px;
    background: $color-white;
        color: $color-error;
    &:not([disabled]):hover {
        border: 1px solid $color-background-primary2;
    }
    &:disabled {
        border: none;
        background-color: $color-light;
    }
}

.button-dis-like {
    border-radius: 2px;
        text-align: center;
        border: none;
        transition: 0.4s;
        display: flex;
        align-items: center;
    &:not([disabled]):hover {
        background: $color-error;
    }
    &:disabled {
        background-color: $color-light;
        color: $color-background-primary;
        opacity: 0.5;
    }
}

.button-like  {
    border-radius: 2px;
        text-align: center;
        border: none;
        transition: 0.4s;
        display: flex;
        align-items: center;
    &:not([disabled]):hover {
        background: #5360CD;
    }
    &:disabled {
        background-color: $color-background-primary2;
        color: $color-background-primary;
        opacity: 0.5;
    }
}

.button-book-mark {
    padding: 16px 32px;
    background: $color-light;
        color: $color-secondary;
    &:not([disabled]):hover {
        background: $color-primary2;
        color: $color-white;
    }
}

.btn-book-mark{
    border-radius: 2px;
        text-align: center;
        border: none;
        transition: 0.4s;
        display: flex;
        align-items: center;
    
        &:not([disabled]):hover {
            background: #5360CD;
        }
    
        &:disabled {
            background-color: $color-background-primary2;
            color: $color-background-primary;
            opacity: 0.5;
        }
}