@import '../styles/variables';
@import '../styles/fonts';

.App {
    text-align: center;
    height: 100vh;
    background-color: $color-background-main;
}

.buttons {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: $indent-l;
}

.form {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row;
    background: $color-background-main;
    margin-top: $indent-l;
}

.inputs {
    display: flex;
    flex-flow: column;
    margin-bottom: $indent-xl;
    align-items: start;
    .title{
        font-size: $font-size-subline-1;
    color: $color-background-primary;
    margin-bottom: -17px;
    }
}

.cards {
    width: 100%;
    padding: 50px;
    background-color: $color-background-main;
}
